<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
<head>
    <meta charset="utf-8">
    <title>TimeZone</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
    <style>
        .row {
           display: flex;
           justify-content: center;

        }
    </style>
</head>

<body>
    <header class="header-area header-style-5">
      
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1" style="width: 110px; height: 100px; overflow: hidden;">
                        <a href="/"><img src="assets/imgs/theme/timezone Logo.png"  style="min-width: 100% ;"  alt="logo"></a>
                    </div>
                </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
       
    </div>
    <main class="main">
      
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                           
                            <div class="col-lg-1"></div>
                            <div class="col-lg-6">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Change Password</h3>
                                        </div>
                                       
                                        <form id="form" method="post" action="/newPassPage">
        
                                            <div class="form-group">
                                                <input  type="password" name="password1" placeholder="New Password" id="pass1" onclick="clrpass1()">
                                                <p id="error1" style="color: red;"></p>
                                            </div>
                                            <div class="form-group">
                                                <input  type="password" name="password2" placeholder="Confirm Password" id="pass2" onclick="clrpass2()">
                                                <p id="error2" style="color: red;"></p>
                                            </div>
                                           
                                            <div class="login_footer form-group">
                                                <div class="chek-form">
                                                    
                                              
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login" > <a href="/verify"></a>Submit </button>
                                            </div>
                                        </form>
                                       
                                        
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
  
    <!-- Preloader Start -->
    <!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
</body>
<script>
    function clrpass1(){
        document.getElementById('error1').textContent = ""
    }
    function clrpass2(){
        document.getElementById('error2').textContent = ""
    }
    const newPass = document.getElementById('pass1')
    const conFirm = document.getElementById('pass2')
    const error1 = document.getElementById('error1')
    const error2 = document.getElementById('error2')
    const subform = document.getElementById('form')

    function passwordValidate(){
       const passvali = newPass.value
       const passPattern = /[a-zA-Z]/
       const digit = /\d/

       if(passvali.length < 6){
        error1.style.display = ""
        error1.innerHTML = "Must have 6 charecters"
       }else if(!passPattern.test(passvali) ||! digit.test(passvali)){
        error1.style.display = "block"
        error1.innerHTML ="Should contain Numbers and Alphabets"
       }
    }
    function confirmValidate(){
        const passvali = newPass.value
        const passvalid = conFirm.value
        const passpatern = /[a-zA-Z]/
        const digit = /\d/
        if(passvalid!==passvali){
            error2.style.display = "block"
            error2.innerHTML = "Password do not match"
        }else if(!passpatern.test(passvalid)||!digit.test(passvalid)){
            error2.style.display = ""
            error2.innerHTML = "Should contain Numbers and Alphabets"
        }
    }

    newPass.addEventListener('blur',passwordValidate)
    conFirm.addEventListener('blur',confirmValidate)

    subform.addEventListener('submit',function(e){
        passwordValidate()
        confirmValidate()

        if(error1.innerHTML||error2.innerHTML){
            e.preventDefault()
        }
    })
</script>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>